html {
  font-size: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  font-size: $font-md;
  font-weight: 400;
  color: $grayish-blue;
  overflow-x: hidden;
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-weight: 300;
  margin: 0;
  margin-bottom: $margin-md;
  color: $dark-blue;
  text-transform: capitalize;
}

h1 {
  font-size: $font-lg;

  @include bp-up(large) {
    font-size: $font-xl;
  }
}

p {
  margin: 0;
  margin-bottom: $margin-md;
}

a {
  text-decoration: none;
  font-size: $font-sm;
  color: $grayish-blue;
  display: inline-block;
}

.container {
  max-width: 70rem;
  margin: 0 auto;

  &--tbp {
    padding-top: $padding-xxl;
    padding-bottom: $padding-xxl;
  }

  &--bp {
    padding-bottom: $padding-xxl;
  }

  &--lp {
    padding-left: $padding-md;
  }

  &--rp {
    padding-right: $padding-md;
  }

  &--lrp {
    padding-left: $padding-md;
    padding-right: $padding-md;
  }
}

.fade-in {
  animation: fade-in $transition-time ease-in-out forwards;
}

.fade-out {
  animation: fade-out $transition-time ease-in-out forwards;
}

// FLEX
.flex {
  display: flex;
}

.flex-jc-sb {
  justify-content: space-between;
}

.flex-jc-c {
  justify-content: center;
}

.flex-ai-c {
  align-items: center;
}

// RESPONSIVE
.hide-for-mobile {
  @include bp-dn(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include bp-up(large) {
    display: none;
  }
}

// OVERLAY
#overlay {
  position: fixed;
  visibility: hidden;
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to bottom, $dark-blue, transparent);
}
