.hero {
  background-color: $very-light-gray;

  .container {
    text-align: center;
    margin-top: 80px;
    padding-bottom: $padding-xxl;

    @include bp-up(large) {
      display: flex;
      align-items: center;
      text-align: left;
      padding-bottom: 0;
    }
  }

  &__image {
    color: transparent;
    background-image: url(/images/bg-intro-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 45vh;

    position: relative;
    text-align: center;

    img {
      width: 90%;
      max-width: 400px;
      position: relative;
      top: -35px;

      @include bp-up(large) {
        position: absolute;
        width: 103%;
        top: -105px;
        right: -232px;
        max-width: unset;
      }
    }

    @include bp-up(large) {
      order: 2;
      flex: 3;
      min-height: unset;
      height: 600px;
      overflow: unset;
      background-image: unset;

      &::before {
        position: absolute;
        width: 130%;
        height: 100%;
        left: 0;
        content: "";
        background-image: url(../../images/bg-intro-desktop.svg);
        background-position: left center;
        background-size: 144%;
        background-repeat: no-repeat;
      }
    }
  }

  &__text {
    padding-top: $padding-lg;
    @include bp-up(large) {
      flex: 2;
    }
  }
}
