// COLORS
$dark-blue: hsl(233, 26%, 24%);
$lime-green: hsl(136, 65%, 51%);
$bright-cyan: hsl(192, 70%, 51%);

$grayish-blue: hsl(233, 8%, 62%);
$light-grayish-blue: hsl(220, 16%, 96%);
$very-light-gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// SPACING
$padding-sm: 0.75rem; // 12px
$padding-md: 1.5rem; // 24px
$padding-lg: 1.875rem; // 30px
$padding-xl: 2.5rem; // 40px
$padding-xxl: 5.625rem; // 90px

$margin-sm: 0.75rem; // 12px
$margin-md: 1.5rem; // 24px
$margin-lg: 1.875rem; // 30px

// FONTS
$font-xs: 0.75rem; // 12px
$font-sm: 0.875rem; // 14px
$font-md: 1.125rem; // 18px
$font-lg: 1.875rem; // 30px
$font-xl: 3.125rem; // 50px

// ANIMATION
$transition-time: 300ms;
